/*color pallette https://colorhunt.co/palette/21325e3e497af1d00af0f0f0*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Stick+No+Bills:wght@400;500;700&display=swap');

* { 					
	margin: 0; 			
	padding: 0;
	box-sizing: border-box;	 
}

body {
  background-color: #21325E;
  margin: 0 auto; 
  text-align: left;
  
  p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: lighter;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Stick No Bills', 'Arial', sans-serif;
  }

}

main {
  width: 50%;
  margin: 0 auto;
}

.card {
  background-color: rgba(240, 240, 240, 0.6);
  margin: 1rem 0;
  padding: 1rem; 
  border-radius: 10px;
  border: 1px solid  #21325E;
  line-height: 1.6; 
}

.navbar, footer {
  display: flex; 
  flex-flow: row wrap; 
  justify-content: center;
  align-content: center;
  padding: 1rem 0; 
  width: 100%;
  margin: 0 auto;
  background-color: rgba(241, 208, 10, 1);
  text-align: center;
}

.navbar li {
  display: inline; 
}

.navbar a {
  text-decoration: none;
  background-color:none; 
  padding: 0.5rem;
  margin: 0.5rem;
  color: #21325E;
  border-radius: 5px;
  font-family: 'Stick No Bills', 'Arial', sans-serif;
  font-weight: bold;
  font-size: larger;
}

.navbar a:hover {
  background-color: rgba(33, 50, 94, 0.9);
  color: #F0F0F0;
}

.header {
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center;
  align-items: center;
  text-align: left;

  img {
    width: 100px;
    height: 100px;
    order: 1;
    border-radius: 50%; 
    margin: 20px 40px 20px 20px;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem #F0F0F0);
  }

  h1 {
    font-weight: 700;
  }
}

.mission {
  display: flex; 
  flex-flow: column wrap; 
  align-items: center;
  justify-content: center;

  h2, p {
  text-align: center;
  }
}

.picgallery {
  display: flex; 
  flex-flow: column wrap; 
  justify-content: center;

  .text {
  text-align: center;
  }

  .piccontainer {
  width: 100%;
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around;
  }

  img {
  height: 15rem;
  width: 15rem; 
  margin: 0.5rem;
  border-radius: 2%; 
  object-fit: cover;
  }

}

.team {
  display: flex; 
  flex-flow: column wrap; 
  text-align: center;
} 

  .teammembers {
  display: flex; 
  flex-flow: row wrap; 
  justify-content: center;
  align-content: baseline;
  }

  .profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: baseline; 
  border-radius: 3%;
  height: auto; 
  width: 40%;
  margin: 0 2rem;
  padding: 0.5rem;
  }

  .team.text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .profilepic {
    border-radius: 50%; 
    height: 8rem;
    width: 8rem;
    object-fit: cover; 
    order: 0; 
    margin-bottom: 1rem;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem #F0F0F0);
  }

.contact {
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  h2 {
    margin-right: 2rem;
  }

  a {
    color: black;
    background-color: rgba(241, 208, 10, 1);
    padding: 0.25rem; 
    border: 1px solid rgba(241,208,10,1);
    border-radius: 6px; 
    text-decoration: none;
    margin-right: 5px;
  }

  a:hover {
    background-color: rgba(33, 50, 94, 0.9);
    border: 1px solid rgba(33, 50, 94, 0.9);
    color: #F0F0F0;
  }
}

.footer {
  font-size: small;
}

/* media query for mobile phones */

@media only screen and (max-width: 1150px) {
  .header {
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  .picgallery img {
    height: 10rem;
    width: 10rem; 
    margin: 0.25rem;
  }
  .piccontainer {
    width: 100%;
    flex-flow: column wrap; 
    justify-content: flex-start;
  }
  .team {
    .teammembers {
      display: flex; 
      flex-flow: row wrap; 
      justify-content: center;
      align-content: baseline;
    }
    .profile {
      flex-flow: column wrap;
      justify-content: center;
      align-content: center; 
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0 1rem;
      padding: 0.2rem;
    }
    .profilepic {
        border-radius: 50%; 
        height: 4rem;
        width: 4rem;
        margin-bottom: 0.5rem;
    }
  }
  .contact {
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
}